html,body{
    background-color: #FFD5D6;
    background-image: url(../images/Forme1.png);
    height: 100%;
}
.navbar-logo{
    height: 69;
    width: 301.83;
    margin: 0;
}
.navbar-list li a:hover {
    background-color: #CC4F3A; 
    border-radius: 100000px; 
    color:aliceblue;
    height: 20px;
  }

.navbar-list li a {
    font-size: 16px;
    font-weight: bold;
    color: #FFDFDF; 
    text-decoration: none; 
    padding: 10px 20px; 
    display: block; 
    gap:27;
  }

.navbar-list {
    list-style-type: none; 
    margin-right: 90px; 
    padding: 0;
    display: flex;
    justify-content:flex-end; 
    flex-grow: 1; 
  }

.navbar {
    padding: 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    left: 0; 
    z-index: 1000; 
    display: flex;
    align-items:flex-start;
  }