* {
  
    box-sizing:border-box;
    font-family: "Poppins";
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    line-height: 0.8;
    background: #FFD5D6;
    overflow: hidden;
   
    
    
    
}
h1{
    color: white;
    font-size: 1.3em;
    margin-top: 5px;
}

.wrapper{
    background-color: #FFBCBE;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.2s;
    width: 400px;
    height: 480px;
    text-align: center;
    align-items: flex-end;
    margin-left: 10px;
    

}
label {
    display: block;
    width: 100%;
    text-align: left;
    color: #A15C92;
    font-weight: bold;
    margin-top: 10px;
    font-size: small;
}
input {
    display: block;
     width :100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px ;
    background: #FF9294;
    border-radius: 5px;
    font-size: small;
    outline: none;
    color: white;
    
    
   
}
.btn{
    background: #FF9294;
    color: white;
    width:130px;
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 146, 148, 0.8);
    animation: glowing 1.5s infinite alternate;

}
.btn:hover{
    transform: translateY(-4px);
}
.input-box{
    margin-bottom: 0px;
}
.login-label{
text-align: center;
margin-bottom: 20px;
color: #A15C92;
font-size: x-small;

}
.sign-in-link{
    color: #A15C92;
}
.wrapper:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(255, 111, 114, 0.8);
}
.input:focus{
    border-color: #FF9294;
    box-shadow: none;
    
}
::-webkit-input-placeholder{
    color: white;
    
}
.fa-eye{
    position:absolute;
    top: 70%;
    right: 8%;
    cursor: pointer;
    color: white;

}
.fa-eye-slash{
    position:absolute;
    top: 70%;
    right: 8%;
    cursor: pointer;
    color: white;

}
.pic{
   
    position: absolute;
    vertical-align: bottom;
    left: 81%;
    padding: 0%;
    margin: 0%;
    bottom: 0%;
    
}