html,body{
    background-color: #FFD5D6;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body {
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content:center;
    align-items:first baseline;
    height: 100vh;
    
}
.search-container {
    display: flex;
}

.search-box {
    position: relative;
    width: 820px; 
    transform: translateY(95%);
    left: 40px;
    height: 69px;
}

.search-box input[type="text"] {
    width: 100%;
    padding-left: 50px; 
    padding-right: 0px; 
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFE6E6;
    border: none; 
    border-radius: 10px;
}

.search-box input::placeholder {
    color: #FF8787;
    font-size: 15px;
    font-weight: bold;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    left: 10px;
    width: 20px;
    height: 20px;
}
.logo{
    position:absolute;
    transform: translateY(95%);
    top:0%;
    left: 10px;
    width: 20px;
    height: 20px;
}

.search-button {
    background-color: #FF8787;
    border: none;
    position:relative;
    transform: translateY(100%);
    left: 150px;
    width: 239px;
    height: 55px;
    top:35%;
    border-radius: 20px;

    color: white;
    padding: 1px 28px; 
    text-align:center;
    text-decoration: none;
    display:block;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.Rectangle1{
    position :absolute;
    left :30%;
    top :35%;
    transform:translate(-50%,-50%);
    width: 503px;
    height: 184px;
    background: #FFE6E6;
    border-radius: 10px;}
    
    .Rectangle1 h4 {
    color: #FF8787;
    font-size: 15px;
    font-weight: bold;
    text-align:center;

    }

.Rectangle2{
    position :absolute;
    left :35%;
    top :35%;
    transform:translate(40%,-50%);
    width: 503px;
    height: 184px;
    background: #FFE6E6;
    border-radius: 10px;

}
.Rectangle2 h4{

        color: #FF8787;
        font-size: 15px;
        font-weight: bold;
        text-align:center;
    
     
}
.Rectangle3{
    position :absolute;
    left :30%;
    top :35%;
    transform:translate(-50%,60%);
    width: 503px;
    height: 184px;
    background: #FFE6E6;
    border-radius: 10px;

}
.Rectangle3 h4 {
    color: #FF8787;
    font-size: 15px;
    font-weight: bold;
    text-align:center;

    }
.Rectangle4{
    position :absolute;
    left :30%;
    top :35%;
    transform:translate(55%,60%);
    width: 503px;
    height: 184px;
    background: #FFE6E6;
    border-radius: 10px;

}
.Rectangle4 h4 {
    color: #FF8787;
    font-size: 15px;
    font-weight: bold;
    text-align:center;

    }
.Rectangle5{
    position :absolute;
    left :30%;
    top :35%;
    transform:translate(-50%,170%);
    width: 503px;
    height: 184px;
    background: #FFE6E6;
    border-radius: 10px;

}
.Rectangle5 h4 {
    color: #FF8787;
    font-size: 15px;
    font-weight: bold;
    text-align:center;

    }
.Rectangle6{
    position :absolute;
    left :30%;
    top :35%;
    transform:translate(55%,170%);
    width: 503px;
    height: 184px;
    background: #FFE6E6;
    border-radius: 10px;
}
    .Rectangle6 h4 {
        color: #FF8787;
        font-size: 15px;
        font-weight: bold;
        text-align:center;
    
        }
.RectangleMarge{
    position :absolute;
    top:22%;
    right :2%;
    width: 200px;
    height: 580px;
    background: #FFE6E6;
    border-radius: 10px;
}


.message{
    transform:translate(-1500%,50%);
}
.parametre{
    transform:translate(-1500%,50%);
}
.dictionaire{
    transform:translate(-1500%,50%);
}
.file{
    transform:translate(-1500%,50%);
}
.profil{
    transform:translate(-1500%,50%);  
}
.home-icon{
    transform:translate(-1500%,50%);
}
.mail{
    transform:translate(-1500%,50%);
}
.search-button:hover {
    background-color: #e36f73;
}

